[requires]
python_version = "3.12"

[packages]
agno = "*"
pydantic = "*"
python-dotenv = "*"
mistralai = "*"
openai = "*"
psycopg2-binary = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
black = "*"
flake8 = "*"

[scripts]
run = "python backend/main.py"
